.DS_Store
__pycache__/
*.pyc
*.pth
*.log

/testCode/testLocalAudio/*
!/testCode/testLocalAudio/.gitkeep
!/testCode/logs/.gitkeep

/audioRecordings/*
!/audioRecordings/.gitkeep

/logs/*
!/logs/.gitkeep
